/*---------[ GLOBAIS ]---------------------------------------------------*/

.bodyPortal{
	text-align: left;
	background-color: #FAFAFA;
}
.tblPortal{
	width: 1200px;
	height: 100%;
	text-align: left;
	border: 0px;
	background-color: #FFFFFF;
}
.divCabecalho{
	width:100%;
	height: 60px;
	background-image: url('bgcabecalho.bmp');
}
.divCabecalhoMenu{
	width:100%;
	height: 35px;
}
.divRodape{
	background-color: blue;
	width: 100%;
	height: 25px;
	background-image: url('bgrodape.bmp');
}
.divConteudo{
	background-color: #FFFFFF;
	width: 100%;
	text-align: left;
}
.divSepH{
	height: 5px;
	width: 100%;
}

/*---------[ CABECALHO ]-------------------------------------------------*/

.divCabecalhoLogo{
	width: 100px;
	padding-top:5px;
	text-align: center;
	float: left;
}
.imgCabecalhoLogo{
	text-align: center;
	content: url('logovisplanocurso.png');
	src: url('logovisplanocurso.png');
	height: 50px;
}
.divCabecalhoSistema{
	width: 150px;
	text-align: center;
	float: left;
	padding-top: 5px;
}
.lblCabecalhoSistema{
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	color: #770000;
	font-style: italic;
}
.lnkCabecalhoSistema{
	color: #0000BB;
	font-size: 12px;
	font-family: arial;
	text-decoration: underline;
	font-weight: bold;
}
.lnkCabecalhoSistema:hover{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}
.divCabecalhoSepSisTit{
	width: 2px;
	height: 60px;
	border-right: solid 1px #CAEDFF;
	float: left;
}
.divCabecalhoTitulo{
	width: 1000px;
	text-align: center;
	float: left;
	padding-top: 5px;
}
.lblCabecalhoTitulo{
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
}
.lblCabecalhoVisualizacao{
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	font-style: italic;
}



.divCabecalhoMenuLst{
	width: 100%;
	height: 100%;
	padding-top: 3px;
}
.divCabecalhoMenuSep{
	height: 100%;
	width: 5px;
	float: left;
}
.divCabecalhoMenuItem{
	border: solid 2px #F4FCFF;
	height: 23px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}
.lnkCabecalhoMenuItem{
	color: #0000BB;
	font-size: 12px;
	font-family: arial;
	text-decoration: underline;
}
.lnkCabecalhoMenuItem:hover{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}
.lnkCabecalhoMenuItem:active{
	color: #CC0000;
}

/*---------[ RODAPE ]----------------------------------------------------*/

.divRodapeSep{
	width: 20px;
	height: 100%;
	border-right: solid 1px #CAEDFF;
	float: left;
}
.divRodapeItem{
	padding-left: 20px;
	padding-top: 2px;
	float: left;
}
.divRodapeLogo{
	padding-left: 5px;
	padding-top: 3px;
	float: left;
}
.lnkRodape{
	color: blue;
	font-size: 12px;
	font-family: arial;
	text-decoration: underline;
}
.lnkRodape:hover{
	color: #CC0000;
	font-weight: bold;
	text-decoration: underline;
}
.lblRodape{
	font-size: 12px;
	font-family: arial;
}

/*---------[ BIOVIS ]----------------------------------------------------*/

.lblSequenceRed{
	font-size: 8px;
	font-family: sans-serif;
	fill: black;
}
.lblSequenceRed:hover{
	font-style:italic;
	font-weight: bold;
	font-size: 10px;
	fill: red;
}

.lblSequenceNrm{
	font-size: 8px;
	font-family: sans-serif;
	fill: black;
}
.lblSequenceNrm:hover{
	font-style:italic;
	font-weight: bold;
	font-size: 10px;
	fill: red;
}

.txtSequenceIte{
	font-size: 8px;
	font-family: sans-serif;
	fill: black;
	text-anchor: middle;
}

.txtSequencePosAlignment{
	font-size: 8px;
	font-family: sans-serif;
	fill: black;
	text-anchor: left;
}

.btnFtrSequenceGrp{
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	background-color: #FBFBFB;
	border-width: 3px;
	valign: top;
	fill: black;

	display: block;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow: 0px 1px 1px #000;
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
}

.btnFtrSequenceGrpSelected{
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	background-color: #F1F1F1;
	border-width: 3px;
	valign: top;
	fill: black;
	text-anchor: middle;

	display: block;
	border-radius:8px;
	position:relative;
	top: 2px;
	color: #fqq;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.btnFtrSequenceGrp:hover{
	position:relative;
	top: 2px;
	color: #fqq;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.btnFtrSequenceGrpIte{
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	background-color: #FBFBFB;
	border-width: 3px;
	valign: top;
	fill: black;
	text-align: left;

	width: 21px;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;

	display: block;
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	box-shadow: 0px 1px 1px #000;
	-moz-box-shadow: 0px 1px 1px #000;
	-webkit-box-shadow: 0px 1px 1px #000;
}

.btnFtrSequenceGrpIteSelected{
	font-size: 10px;
	font-family: arial;
	font-weight: bold;
	background-color: #F1F1F1;
	border-width: 3px;
	valign: top;
	fill: black;
	text-anchor: middle;

	width: 21px;
	display: block;
	border-radius:8px;
	position:relative;
	top: 2px;
	color: #fqq;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.btnFtrSequenceGrpIte:hover{
	position:relative;
	top: 2px;
	color: #fqq;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}
.divFtrSequenceGrp{
	float: left;
	padding-left: 10px;
	padding-right: 1px;
}

.divFtrSequenceGrpIte{
	float: left;
	padding-right: 1px;
}

.btnTitMin,.btnTitMax,.btnTitRed{
	width: 24px;
	height: 22px;
	background-color: #FFFFFF;
	background-repeat:no-repeat;
	background-position:center;

	display: block;
	border-radius:15px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.btnTitMin{
	background-image: url('btnTitMin.png');
	background-color: #DDDDDD;
}
.btnTitMax{
	background-image: url('btnTitMax.png');
}
.btnTitRed{
	background-image: url('btnTitRed.png');
}

.btnRedNrm{
	width: 125px;
	font-size: 11px;
	background-color: #FBFBFB;
	border-width: 3px;
	font-family: arial;
	font-weight: bold;
	text-align: center;

	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}

/*---------[ CONTEUDO ]--------------------------------------------------*/

.divConteudoTit{
	width: 100%;
	height: 26px;
	text-align: left;
	background-color: #F2FFFF;
}
.divConteudoFtr{
	width: 100%;
	height: 26px;
	text-align: left;
	background-color: #FBFEFF;
	border-top: 5px solid white;
}
.divConteudoTpl{
	width: 100%;
	height: 26px;
	text-align: left;
	background-color: #FBFEFF;
	border-top: 5px solid white;
}
.divConteudoVis{
	width: 1200px;
	text-align: left;
	border-top: 5px solid white;
	overflow-y: scroll;
}

.divConteudoTitBtn{
	float: left;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 2px;
}
.divConteudoTitTit{
	float: left;
	padding-left: 5px;
	padding-right: 2px;
	padding-top: 2px;
}
.divConteudoFtrIte{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}

.divConteudoOptBtn{
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
}

.lblConteudoOpt{
	font-size: 12px;
	font-family: arial;
}

.divConteudoVisRed{
	width: 100%;
	text-align: left;
	display: none;
}
.divConteudoVisRedSeq{
	float: left;
	width: 1020px;
	text-align: left;
	border-left: solid 5px white;
}
.divConteudoVisRedLbl{
	float: left;
	width: 150px;
	text-align: left;
}

.divConteudoVisNrm{
	width: 100%;
	text-align: left;
	display: none;
}
.divConteudoVisNrmSeq{
	float: left;
	width: 1020px;
	text-align: left;
	overflow-x: scroll;
	border-left: solid 5px white;
}
.divConteudoVisNrmLbl{
	float: left;
	width: 150px;
	text-align: left;
}

.divConteudoVisCab{
	width: 100%;
	text-align: left;
	display: none;
	height: 15px;
	border-top: solid 5px white;
}



.lblConteudoTit{
	font-size: 14px;
	font-family: arial;
	font-weight: bold;
}
.lblConteudoFtr{
	font-size: 12px;
	font-family: arial;
}


/*---------[ VIS COMENTARIO ]--------------------------------------------------*/

/****** IND */

.divConteudoVisInd{
	width: 100%;
	height: 25px;
	text-align: left;
	background-color: #FBFEFF;
}
.divConteudoVisIndItem{
	height: 100%;
	text-align: left;
	padding-left: 20px;
	float: left;
}
.lblConteudoVisIndNom{
	font-size: 12px;
	font-family: arial;
	color: #555555;
}
.lblConteudoVisIndVal{
	font-size: 12px;
	font-family: arial;
	color: #555555;
	font-weight: bold;
}

/****** HDR */

.divConteudoVisHdr{
	width: 100%;
	height: 50px;
	text-align: left;
}
.lblConteudoVisHdr{
	font-size: 12px;
	font-family: arial;
	color: #555555;
}

/****** CMT */

.divConteudoVisCmt{
	width: 100%;
	text-align: left;
	border-bottom: solid 1px #F4FCFF;
	border-top: solid 1px #F4FCFF;
}
.divConteudoVisCmtItem{
	width: 100%;
	height: 25px;
	text-align: left;
	/*border-bottom: solid 1px #F4FCFF;*/
}
.divConteudoVisEsq{
	width: 15px;
	height: 100%;
	text-align: left;
	float: left;
	background-color: #FFFFFF;
}
.lblConteudoVisCmt{
	font-size: 12px;
	font-family: arial;
	color: #333333;
}
.lblConteudoVisCmtPos{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: blue;
}
.lblConteudoVisCmtNeg{
	font-size: 12px;
	font-family: arial;
	font-weight: bold;
	color: red;
}

.divConteudoVisHdrComentario{
	float: left;
	width: 250px;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	border-left: solid 1px #BBBBBB;
	border-top: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding-left: 0px;
}
.divConteudoVisCmtComentario{
	float: left;
	width: 245px;
	height: 100%;
	text-align: left;
	border-right: solid 1px #BBBBBB;
	border-left: solid 1px #BBBBBB;
	padding-left: 5px;
}

.divConteudoVisHdrAvaliacao{
	float: left;
	width: 75px;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	border-top: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding-left: 0px;
}
.divConteudoVisHdrAvaliacaoItem{
	float: left;
	width: 50%;
	height: 100%;
	text-align: center;
	padding-left: 0px;
	font-size: 16px;
	font-family: arial;
	font-weight: bold;
	color: #555555;
}
.divConteudoVisCmtAvaliacao{
	float: left;
	width: 65px;
	height: 100%;
	text-align: right;
	border-right: solid 1px #BBBBBB;
	padding-left: 5px;
	padding-right: 5px;
}
.divConteudoVisCmtAvaliacaoSep{
	float: left;
	width: 5px;
	height: 100%;
}
.divConteudoVisCmtAvaliacaoItem{
	float: left;
	width: 25px;
	height: 90%;
	text-align: right;
	padding-right: 5px;
	color: #FFFFFF;
}
.divConteudoVisCmtAvaliacaoItemPos{
	float: left;
	width: 25px;
	height: 90%;
	text-align: right;
	padding-right: 5px;
	background-color: #F1F9FE;
}
.divConteudoVisCmtAvaliacaoItemNeg{
	float: left;
	width: 25px;
	height: 90%;
	text-align: right;
	padding-right: 5px;
	background-color: #FEF1CE;
}

.divConteudoVisHdrNota{
	float: left;
	width: 55px;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	border-top: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding-left: 0px;
}
.divConteudoVisCmtNota{
	float: left;
	width: 50px;
	height: 100%;
	text-align: right;
	border-right: solid 1px #BBBBBB;
	padding-right: 5px;
}

.divConteudoVisHdrPeriodo{
	float: left;
	width: 75px;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	border-top: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding-left: 0px;
}
.divConteudoVisCmtPeriodo{
	float: left;
	width: 75px;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
}

.divConteudoVisHdrMacroTema{
	float: left;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	border-top: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding-left: 0px;
}
.divConteudoVisHdrMacroTemaItem{
	float: left;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	padding-left: 2px;
	padding-right: 2px;
}
.divConteudoVisCmtMacroTemaItem{
	float: left;
	height: 100%;
	text-align: center;
	border-right: solid 1px #BBBBBB;
	padding-left: 2px;
	padding-right: 2px;
}

/****** HTML COMENTARIO ANALISE */

.divHtmlComentarioAnaliseLink{
	font-size: 12px;
	height:100%;
	width:5px;
	float:left;
	border-left: solid 3px red;
	border-top: solid 3px red;
}
.divHtmlComentarioAnaliseTop{
	font-size: 12px;
	height:100%;
	width:490px;
	float:left;
	border-top: solid 3px transparent;
}
.divHtmlComentarioAnaliseEsq{
	font-size: 12px;
	width:7px;
	height:10px;
	float:left;
}
.divHtmlComentarioAnaliseDir{
	background-color: #EEEEEE;
	font-size: 12px;
	width:485px;
	float:left;
	padding:3px;
}
.divHtmlComentarioAnaliseSep{
	background-color: #EEEEEE;
	font-size: 12px;
	width:485px;
	height:3px;
}
.divHtmlComentarioAnalise{
	display: none;
	font-size: 12px;
	width: 500px;
}
.divHtmlComentarioAnaliseAreas{
	background-color: #FFFFFF;
	font-size: 12px;
	width: 475px;
	padding: 5px;
}